/* banner */
.bannerinner {
    text-align: center;
}

.lighter_title {
    font-size: 50px;
    font-weight: 300;
    color: #121212;
    line-height: 1.4;
}

.bannerinner h1 {
    font-size: 50px;
    color: #121212;
    margin-bottom: 35px;
}

.bannerinner h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 35px;
}

.bannerinner p {
    font-size: 16px;
    font-weight: 500;
    max-width: 860px;
    margin: 0 auto;
}

.bannerBtn {
    padding-top: 40px;
}

.banner_content {
    padding: 81px 0px 61px;
    position: relative;
    z-index: 1;
}

.banner_wrapper {
    background-image: url('/public/images/banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

/* home about */
.home_about {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin: 0px -10px;
}

.about_content {
    width: 50%;
    padding: 0px 10px;
}

.about_images {
    width: 50%;
    padding: 0px 10px;
}

.about_images_wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    justify-content: flex-end;
    -webkit-box-pack: end;  
    -ms-flex-pack: end;  
    margin: 0px -5px;
}  

.about_images_item {
    width: 38%;
    line-height: 0;
    padding: 0px 5px;
}

.about_images_item img {
    height: auto;
    width: auto;
}

.about_images_item2 .about_images_item {
    width: 100%;
    padding: 5px 0px;
}

.popup_vid {
    position: relative;
    display: inline-block;
}

.about_images_item.about_images_item2 {
    width: 52%;
    padding: 0px 5px;
}


.about_content h5 {
    font-size: 20px;
    color: rgb(18 18 18 / 38%);
    font-weight: 500;
    margin-bottom: 20px;
}

.about_content h2 {
    font-size: 40px;
    color: rgb(18 18 18 / 85%);
    margin-bottom: 25px;
}

.about_content h2 span {
    display: block;
    font-weight: 300;
    margin-bottom: 14px;
    color: rgb(18 18 18 / 75%);
}

.about_content p:not(:last-child) {
    margin-bottom: 20px;
}


/* partner */
.sectionwrapper {
    padding: 50px 0px 50px;
}
.partner_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 15px;
}

.logo_items {
    width: 20%;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_items img {
    max-width: 135px;
    width: 100%;
    height: auto;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    opacity: .5;
}

.logo_items img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    opacity: 1;
}

.titlecontain {
    text-align: center;
    padding-bottom: 35px;
    max-width: 830px;
    margin: 0 auto;
}

.pretitle {
    color: #acacac;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

.maintitle {
    font-size: 40px;
    font-weight: 600;
    color: #313131;
    line-height: 1.5;
    padding-bottom: 20px;
}

.titledescription {
    display: block;
}

/* team */

.teamsection {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px -50px;
}

.teamitem {
    width: 50%;
    padding: 40px 75px 40px 10px;
    display: flex;
}

.team_images {
    width: 160px;
}

.teamdetails {
    width: calc(100% - 160px);
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.team_images img {
    max-width: 160px;
    height: auto;
}

.teamdetails h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.team_social_link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.team_social_link li:not(:last-child) {
    margin-right: 9px;
}

.team_social_link li a {
    display: inline-block;
}

.teamitem.reverse_item {
    padding: 40px 10px 40px 75px;
}

.reverse_item .teamdetails {
    padding-right: 0px;
    padding-left: 45px;
    order: 2;
}

.reverse_item .team_images {
    order: 1;
}

.teamitem:nth-child(3) {
    border-top: 1px solid;
    border-image: linear-gradient(0.75turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.teamitem:nth-child(1) {
    border-right: 1px solid;
    border-image: linear-gradient(0turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.teamitem:nth-child(2) {
    border-bottom: 1px solid;
    border-image: linear-gradient(0.25turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
    margin-bottom: -.5px;
}

.teamitem:nth-child(4) {
    border-left: 1px solid;
    border-image: linear-gradient(0.5turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
    margin-left: -.5px;
}

/*choose us*/

.why_choose_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px -35px;
    justify-content: center;
}

.choose_item {
    padding: 25px 20px 35px;
    width: 25%;
    text-align: center;
}

.choose_item h4 {
    font-size: 24px;
    margin-bottom: 25px;
}

.choose_icon {
    padding-bottom: 30px;
}

.choose_icon img {
    max-width: 65px;
}


/* token Allocation */
.bsc_scam {
    max-width: 700px;
    margin: 0 auto;
}

.bsc_scambtn {
    text-align: center;
    padding: 26px 0px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(0.25turn, rgb(238 238 238 / 0%), #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.token_locked {
    display: flex;
    padding: 25.5px 0px 0px;
}

.milionview {
    width: 120px;
    text-align: center;
    padding: 0px 10px;
}

.milionview_details {
    width: calc(100% - 120px);
    padding: 0px 40px;
}

.milionview label {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #F8790F;
    line-height: 1.3;
    padding-bottom: 15px;
}

.milionview p {
    font-size: 16px;
    font-weight: 500;
}

.milionview_details p {
    font-weight: 400;
    margin: 0;
}

.linkbtn {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 14px;
    display: inline-block;
}

.token_allocation ul {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.token_allocation ul li {
    width: 25%;
    text-align: center;
    padding: 39px 15px;
}

.token_allocation ul li h3 {
    font-size: 30px;
    font-weight: 600;
    color: #F8790F;
    margin-bottom: 20px;
}

.token_allocation ul li h4 {
    color: #4d4d4d;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 15px;
}

.token_allocation ul li p {
    font-size: 16px;
    font-weight: 500;
    color: rgba(18, 18, 18, 0.35);
}

.token_allocation ul li:nth-child(1) {
    border-right: 1px solid;
    border-image: linear-gradient(0turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.token_allocation ul li:nth-child(2) {
    border-right: 1px solid;
    border-image: linear-gradient(0turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.token_allocation ul li:nth-child(3) {
    border-right: 1px solid;
    border-image: linear-gradient(0turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.token_allocation ul li:nth-child(5) {
    border-right: 1px solid;
    border-image: linear-gradient(0.5turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.token_allocation ul li:nth-child(6) {
    border-right: 1px solid;
    border-image: linear-gradient(0.5turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.token_allocation ul li:nth-child(7) {
    border-right: 1px solid;
    border-image: linear-gradient(0.5turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

.token_allocation ul:before {
    content: "";
    height: 1px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    border-image: linear-gradient(0.25turn, rgb(238 238 238 / 0%), #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}

/* global community */

.themebgcolor{
background-color: #0164EB;
}
.themebgcolor .titlecontain {
    max-width: 1000px;
}

.themebgcolor .maintitle {
    color: #ffffff;
}

.themebgcolor .pretitle, .themebgcolor .titledescription {
    color: #ececec;
}

.home_themebgcolor__gzH-n .home_titlecontain__zOK5T {
    max-width: 1000px;
}

.global_community {
    display: block;
}

.global_community_itm {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.global_community_itm li {
    width: 25%;
    text-align: center;
    padding: 16px 12px;
}

.community_itm_in {
    background: linear-gradient(180deg, rgb(0 108 255) -10.36%, rgb(255 255 255 / 49%) 166.18%);
    border-radius: 60px;
    padding: 30px 25px;
    height: 100%;
}

.count_style {
    display: block;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    line-height: 100px;
    font-size: 60px;
    color: #0164EB;
    font-weight: 600;
    border-radius: 30px;
    margin: 0 auto 30px;
}

.community_itm_in p {
    max-width: 200px;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

/* token Collection */

.container_custom {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.our_event {
    display: flex;
    flex-wrap: wrap;
}

.event_item {
    width: 33.33%;
}
.event_images {
    display: block;
}
.event_images img {
    width: 100%;
    height: auto;
}

.event_item_inner {
    position: relative;
}

.event_details {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 30px 40px;
    z-index: 1;
}

.event_details h5 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.event_details label {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.event_item_inner:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, rgb(0 0 0 / 0%), rgb(0 0 0 / 98%));
}

/* ecosystem */

.ecosystem_item_inner {
    background-color: rgb(248 121 15 / 8%);
    padding: 30px 30px 45px;
    border-radius: 60px;
    height: 100%;
}

.eco_icon {
    display: inline-block;
    background-color: #F8790F;
    border-radius: 30px;
    padding: 18px;
    line-height: 1;
}

.eco_icon img {
    max-width: 77px;
}

.eco_icon_wrap {
    padding-bottom: 30px;
}

.ecosystem_item_inner h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
    letter-spacing: .5px;
}

.ourecosystem_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px -15px;
}

.ecosystem_item {
    width: 33.3333%;
    padding: 15px 10px;
}

@media (max-width: 1200.7px) {
.about_images_item {
    width: 48%;
}
}


@media (max-width: 991.7px) {
    .about_content, .about_images {
        width: 100%;
    }
    .about_images_item2 .about_images_item, .about_images_item.about_images_item2 {
        text-align: left;
    }
    .about_images_item {
        text-align: center;
    }
    .about_images{
        padding-top: 40px;
    }
    .ecosystem_item_inner {
        padding: 20px 15px 20px;
        border-radius: 30px;
    }
    .ecosystem_item_inner h3 {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 15px;
        letter-spacing: 0px;
    }
    .eco_icon img {
        max-width: 48px;
        height: auto;
    }
    .eco_icon {
        border-radius: 16px;
        padding: 14px;
    }
    .eco_icon_wrap {
        padding-bottom: 15px;
    }
    .community_itm_in {
        border-radius: 30px;
        padding: 20px 12px;
    }
    .count_style {
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: 45px;
        border-radius: 20px;
        margin: 0 auto 15px;
    }
    .community_itm_in p {
        font-size: 14px;
    }
    .pretitle {
        padding-bottom: 8px;
    }
    .maintitle {
        padding-bottom: 11px;
    }
    .teamitem.reverse_item {
        padding: 40px 10px 40px 10px;
    }
    .teamitem {
        padding: 40px 10px 40px 10px;
    }
    .teamdetails {
        width: calc(100% - 100px);
        padding-right: 16px;
    }
    .team_images {
        width: 100px;
    padding-top: 20px
    }
    .reverse_item .teamdetails {
        padding-left: 16px;
    }
    .team_images img {
        max-width: 160px;
        height: auto;
        width: 100%;
    }
}

@media (max-width: 767.7px) {
    .event_details {
        padding: 30px 25px;
    }
    .bannerinner h1, .lighter_title {
        font-size: 40px;
    }
    .bannerinner h4 {
        line-height: 1.5;
    }
    .ecosystem_item {
        width: 100%;
        padding: 10px 10px;
    }
    .sectionwrapper {
        padding: 40px 0px 40px;
    }
    .global_community_itm li {
        width: 50%;
        padding: 12px 12px;
    }
    .event_item {
        width: 50%;
    }
    .token_allocation ul li h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .token_allocation ul li h4 {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .token_allocation ul li p {
        font-size: 14px;
    }
    .token_allocation ul li {
        padding: 25px 10px;
    }
    .milionview_details {
        width: calc(100% - 100px);
        padding: 0px 0px;
    }
    .milionview {
        width: 100px;
    } 
    .milionview label {
        font-size: 27px;
    }  
    .milionview p {
        font-size: 12px;
    } 
    .choose_item {
        padding: 20px 10px 20px;
        width: 33.333%;
    }
    .footer_wrapper {
        padding-top: 40px;
    }
    
}

@media (max-width: 600px) {
.token_allocation ul li {
    width: 33.333%;
}
.token_allocation ul li:nth-child(3), .token_allocation ul li:nth-child(6) {
    border-right: 0;
}
.token_allocation ul li:nth-child(4) {
    border-right: 1px solid;
    border-image: linear-gradient(0.5turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}
.token_allocation ul:before {
    top: 33.333%;
}
.token_allocation ul:after {
    content: "";
    height: 1px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 66.666%;
    border-bottom: 1px solid;
    border-image: linear-gradient(0.25turn, rgb(238 238 238 / 0%), #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}
.logo_items {
    width: 33.333%;
}
.teamitem {
    width: 100%;
}
.teamitem {
    padding: 20px 10px 20px 10px;
}
.teamitem.reverse_item {
    padding: 20px 10px 20px 10px;
}
.teamitem:nth-child(1) {
    border-right: 0;
    border-bottom: 1px solid;
}
.teamitem:nth-child(3) {
    border-top: 0px;
    border-bottom: 1px solid;
    border-image: linear-gradient(0turn, #eeeeee, rgb(238 238 238 / 0%));
    border-image-slice: 1;
}
.teamitem:nth-child(2) {
    border-image: linear-gradient(0turn, #eeeeee, rgb(238 238 238 / 0%));
    margin-bottom: 0px;
    border-image-slice: 1;
}
.teamitem:nth-child(4) {
border-left: 0px;
}
.teamdetails h4 {
    font-size: 20px;
}
.choose_item {
    width: 50%;
}

.choose_icon img {
    max-width: 46px;
    height: auto;
}

.count_style {
    border-radius: 16px;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    width: 60px;
}

.choose_item h4 {
    font-size: 20px;
}

}


@media (max-width: 480.7px) {
    .bannerinner h1, .lighter_title, .about_content h2 {
        font-size: 30px;
    } 
    .pretitle {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .maintitle {
        font-size: 30px;
        padding-bottom: 15px;
    }
    .event_details {
        padding: 15px 15px;
    }
    .event_details h5 {
        font-size: 18px;
    }
    .event_details label {
        display: block;
        line-height: 1.3;
    }
    .token_allocation ul li {
        padding: 16px 3px;
    }
    .token_allocation ul li h4 {
        font-size: 17px;
    }
    .token_allocation ul li p {
        font-size: 13px;
    }

}